page-notice {
    .card{
        box-shadow: none;
        color: #fff;
        .card-header{
            color: #fff;
        }
    }
  .card-content-ios {
    background-color: white;
  }
  .content-ios {
    background-color: white;
  }
}
