// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0097fe,
  secondary:  #008000,
  danger:     #ff0000,
  light:      #f4f4f4,
  dark:       #222,
  gray:       #ccc,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


//app统一mode为ios,在安卓手机上border不显示
$hairlines-width: 1px;
$list-border-color: #e7e6eb;
//设置toolbar-title的大小
$toolbar-ios-title-font-size: 2rem;
//设置返回键的颜色
$toolbar-md-button-color :color($colors,primary);
$toolbar-ios-button-color :color($colors,primary);
//重置的颜色
$background-color: #0a214a;
//重置搜索框颜色
$searchbar-ios-input-search-icon-color: #ccc;
$searchbar-ios-input-placeholder-color: #ccc;
$searchbar-ios-input-clear-icon-color: #ccc;
$searchbar-ios-input-text-color: #fff;
$searchbar-ios-input-background-color: #081b3b;
//重置底部tabbar颜色
$tabs-ios-tab-text-color: #0a214a;
$tabs-ios-tab-text-color-active: #0a214a;
$tabs-ios-tab-icon-color: #0a214a;
$tabs-ios-tab-icon-color-active: #0a214a;
$tabs-ios-border: none;


$tabs-background: #0a214a;
$toolbar-background: #0a214a;
$card-ios-background-color: #0a214a;
$card-md-background-color: #0a214a;


.content{

  .scroll-content{
    -webkit-overflow-scrolling: auto!important;
  }
}
