page-working-hours {
    .list{
        margin-bottom: 0;
        .item-block{
            position: relative;
            font-size: 1.6rem;
            background-color: transparent;
            color: #fff;
            &.readonly{
                ion-note,textarea{
                    color: #fff;
                }
            }
            input,textarea,ion-note{
                text-align: left;
                color: #fff;
            }
            .red-state{
                color: red;
                vertical-align: top;
                position: absolute;
                left: 10px;
                margin-top: -2px;
            }
            .datetime-text{
                color: #000;
            }
            ion-label[fixed]{
                width: 105px;
                min-width: 105px;
            }
            .item-inner{
                border-bottom: 1px solid #4d5d76;
                .input-wrapper{
                    flex: none;
                    .label{
                        width: 110px;
                    }
                }
           }
           ion-note{
               flex: 1;
               text-align: left;
           }
           .item-button{
               padding: 0 2em;
               height: 36px;
           }
           ion-datetime{
                padding: 11px 8px;
                .datetime-text{
                    color: #fff;
                }
           }
           &.time-special{
                .item-inner{
                    .input-wrapper{
                        flex: 1;
                    }
                    ion-note{
                        flex: none;
                    }
                }
            }
       }
       .item-block:first-child{
           border-top: none;
       }
       .item-block:last-child{
           border-bottom: 1px solid #4d5d76;
       }
        input,textarea,.select-text,.datetime-text{
            color: #aeacb4;
        }
   }
}
