page-pm-list {
    .segment{
        justify-content: space-around;
        .segment-button{
            border: none;
            color: #fff;
            flex: none;
            width: 20%;
            border-radius: 4px!important;
            height: 3.2rem;
            line-height: 3.1rem;
            font-size: 1.6rem;
        }
        .first.segment-button{
            background: linear-gradient(rgb(0, 93, 209) 0%, rgb(0, 93, 209) 0%, rgb(14, 49, 126) 100%, rgb(14, 49, 126) 100%);  
        }  
        .second.segment-button{
            background: linear-gradient(rgb(220, 131, 0) 0%, rgb(220, 131, 0) 0%, rgb(154, 88, 1) 100%, rgb(154, 88, 1) 100%);
        } 
        .third.segment-button{
            background: linear-gradient(#e6e6e6 0%, #e6e6e6 0%, #a3a3a3 100%, #a3a3a3 100%);
        } 
        .fourth.segment-button{
            background: linear-gradient(rgb(92, 133, 77) 0%, rgb(92, 133, 77) 0%, rgb(45, 95, 57) 100%, rgb(45, 95, 57) 100%);
        } 
    } 
    ion-content.has-refresher > .scroll-content {
        border-top: none;
    }
    .list{
        margin: 0 7px;
        &>.item{
            background-color: #122e5d;
            position: relative;
            padding-top: 16px;
            //border: 1px solid #d98100!important;
            //background: linear-gradient(90deg, rgb(130, 122, 84) 0%, rgb(130, 122, 84) 0%, rgb(129, 74, 53) 100%, rgb(129, 74, 53) 100%);
        }
        .item{
            position: relative;
            display: flex;
            flex-direction: colume;
            border-radius: 5px;
            margin: 7px 0 0;
            font-size: 1.6rem;
            padding-left: 12px;
            color: #fff;
            &.item-block:first-child{
                border-top: none;
            }
            .title{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                line-height: 2rem;
                height: 2.1rem;
                padding: 0 10px;
                background: linear-gradient(rgb(220, 131, 0) 0%, rgb(220, 131, 0) 0%, rgb(154, 88, 1) 100%, rgb(154, 88, 1) 100%);
                .item{
                    margin: 0;
                    padding: 0;
                    min-height: auto;
                    background-color: transparent;
                    .item-inner{
                        padding: 0;
                    }
                    div{
                        margin: 0;
                        padding: 0;
                    }
                    .label{
                        margin: 0;
                    }
                }
            }
            & .doing{
                // border: 1px solid #94e55c!important;
                background: linear-gradient(rgba(92, 133, 77, 1) 0%, rgba(92, 133, 77, 1) 0%, rgba(45, 95, 57, 1) 100%, rgba(45, 95, 57, 1) 100%);
            }
            & .red{
                // border: 1px solid #d98100!important;
                background: linear-gradient(#e7063a 0%, #e7063a 0%, #9e0115 100%, #9e0115 100%);
            }
            &.item-block:last-child{
                border-bottom:none;
            }
            .item-inner{
                border-bottom:none;
            }
            .list-item{
                display: flex;
                flex-direction: row;
                height: 2.2rem;
                line-height: 2.1rem;
                .item-inner{
                    border-bottom: none;
                }
                p{
                    font-size: 1.6rem;
                    flex: 1;
                    color: #fff;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .item-button{
                position: absolute;
                right: 14px;
                bottom: 10px;
                padding: 0 1em;
                height: 34px;
                font-size: 1.6rem;
                border: 1px solid #00ff33;
                color: #00ff33;
                background-color: transparent;
                &.slip{
                    border: 1px solid #cc9933;
                    color: #cc9933;
                    background-color: transparent;
                }
            }
        }
    }
}
